{% extends 'base.html.twig' %}
{% block title%} Liste des Utilisateurs{% endblock %}

{% block body %}
<h1>Litse des Utilisateurs</h1>
 <table id="users" class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>email</th>
          <th>roles</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
             <td>
                {% for role in user.roles %}
                 {% if role=="ROLE_USER" %}
                      Utilisateur
                 {% elseif role=="ROLE_EDITOR" %}
                      Editeur
                {% elseif role=="ROLE_ADMIN" %}
                      Administrateur
                 {% endif %}
                {% endfor %}
             </td>
           <td>
              <a href="{{ path('admin_modifier_utilisateur', {'id': user.id }) }}" class="btn btn-dark">Modifier</a>
             
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}