<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer class="navbar d-flex justify-content-center align-items-center navbar-expand-lg navbar-light bg-danger">
  <div class="text-white">
    © 2024 Copyright:
    <a class="text-white" href="https://www.linkedin.com/in/mohamedouni/"><strong>Mohamed Ouni</strong></a>

  </div>
</footer>